// font
$roboto: roboto;

// colors
$gray: #9b9b9b;
$blue: #1976d2;
$lightblue: #00afff;
$lightgray: #e8e8e8;
$white: #fff;
$black: #000;
$default: #aaa;
$primary: #1976d2;
$secondary: #e60012;
$success: #1ed760;
$warning: #ffb818;
$disabled: rgba(0, 0, 0, 0.26);
