@import "../../assets/styles/variables";

.chips-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 4px;

  &--elevated {
    @extend .chips-card;

    box-shadow:
      rgb(0 0 0 / 20%) 0 3px 1px -2px,
      rgb(0 0 0 / 14%) 0 2px 2px 0,
      rgb(0 0 0 / 12%) 0 1px 5px 0;
  }

  &--round {
    @extend .chips-card;

    border: 1px solid $default;
  }

  &--square {
    @extend .chips-card;

    border: 1px solid $default;
    border-radius: 0;
  }
}
